{% extends "urgent/urgent.html" %}
{% block topic %} Blockers Issues{% endblock %}
{% block content %}

    <section id="urgent">

        <table class='urgent_dashboard'>
        <colgroup>
            <col id="key">
            <col id="type">
            <col id="name">
            <col id="status">
            <col id="priority">
            <col id="dueDate">
            <col id="age">
            <col id="assignee">
        </colgroup>
        <thead>
        <tr id='title'><th colspan="8">URGENT</th></tr>
        <tbody>

        <tr id="blockers"><th colspan="8">Blockers</th></tr>

        {% for issue in blockersL %}
            {% if loop.first %}
            <tr>
                <th><a href="{{ url_for('.blockers', sortedby='key') }}">Key</a></th>

                <th><a href="{{ url_for('.blockers', sortedby='issueType') }}">Type</a></th>

                <th><a href="{{ url_for('.blockers', sortedby='name') }}">Name</a></th>

                <th><a href="{{ url_for('.blockers', sortedby='status') }}">Status</a></th>
                <th><a href="{{ url_for('.blockers', sortedby='priority') }}">Priority</a></th>

                <th><a href="{{ url_for('.blockers', sortedby='timeSlot') }}">Time Slot</a></th>

                <th><a href="{{ url_for('.blockers', sortedby='age') }}">Age</a></th>
                <th><a href="{{ url_for('.blockers', sortedby='assignee') }}">Assignee</a></th>

            </tr>
            {% endif %}
            <tr class="{{ loop.cycle('odd', 'even')}}">
                <td><a href="{{ issue.url }}" target=_blank> {{ issue.key }}</a> </td>
                <td> {{ issue.issueType }}</td>
                <td> {{ issue.name }}</td>
                <td> {{ issue.status }} </td>
                <td> {{ issue.priority }} </td>

                <td> {{ issue.version }}</td>

                <td style = "text-align: center"> {{ issue.age }}</td>
                <td> {{ issue.assignee }}</td>

            </tr>
            {% if loop.last %}
            <tr>
                <td colspan="7"> >>> {{loop.length }} items found</td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="7"> >>> No Blockers Issues found</td>
            </tr>
        {% endfor %}
        </table>
    </section>

{% endblock %}
