{% extends "urgent/urgent.html" %}
{% block topic %} Upcoming Issues{% endblock %}

{% block content %}
    <section id="urgent">

        <table class='urgent_dashboard'>
        <colgroup>
            <col id="key">
            <col id="type">
            <col id="name">
            <col id="status">
            <col id="priority">
            <col id="dueDate">
            <col id="assignee">
        </colgroup>
        <thead>
        <tr id='title'><th colspan="8">URGENT</th></tr>
        <tbody>

        <tr id="overdue"><th colspan="8">Coming deadlines for next 7 days</th></tr>
        {% for issue in approaching %}
            {% if loop.first %}
            <tr>
                <th><a href="{{ url_for('.upcoming', sortedby='key') }}">Key</a></th>
                <th><a href="{{ url_for('.upcoming', sortedby='issueType') }}">Type</a></th>
                <th><a href="{{ url_for('.upcoming', sortedby='name') }}">Name</a></th>
                <th><a href="{{ url_for('.upcoming', sortedby='status') }}">Status</a></th>
                <th><a href="{{ url_for('.upcoming', sortedby='priority') }}">Priority</a></th>
                <th><a href="{{ url_for('.upcoming', sortedby='duedate') }}"> Due Date</a></th>
                <th><a href="{{ url_for('.upcoming', sortedby='upcoming') }}"> Days left</a></th>
                <th><a href="{{ url_for('.upcoming', sortedby='assignee') }}">Assignee</a></th>
            </tr>
            {% endif %}
            <tr class="{{ loop.cycle('odd', 'even')}}">
                <td><a href="{{ issue.url }}" target=_blank> {{ issue.key }}</a> </td>
                <td> {{ issue.issueType }}</td>
                <td> {{ issue.name }}</td>
                <td> {{ issue.status }} </td>
                <td> {{ issue.priority }} </td>
                <td> {{ issue.duedate }}</td>
                {% if not issue.upcoming %}
                <td style = "text-align: center; background-color: red"> {{ issue.upcoming}}</td>
                {% else %}
                <td style = "text-align: center"> {{ issue.upcoming}}</td>
                {% endif %}
                <td> {{ issue.assignee }}</td>
            </tr>
            {% if loop.last %}
            <tr>
                <td colspan="8"> >>> {{loop.length }} items found</td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="8"> >>> No Issues found</td>
            </tr>
        {% endfor %}
        </table>

    </section>


{% endblock %}
