{% extends "coordination/layout.html" %}
{% import 'backlogLib.html' as bl %}
{% import 'identificationLib.html' as idnt %}
{% block topic %} - Agile {% endblock %}
{% block content %}
    {{ idnt.globalComponentIdentifier(comp)  }}
    {%  call bl.displayBacklog('Agile', reporter, sortedby) %}
        <tr>
            <th><a href="{{ url_for('.agile', sortedby='key') }}">Key</a></th>
            <th><a href="{{ url_for('.agile', sortedby='issueType') }}">Type</a></th>
            <th><a href="{{ url_for('.agile', sortedby='name') }}">Name</a></th>
            <th><a href="{{ url_for('.agile', sortedby='status') }}">Status</a></th>
            <th><a href="{{ url_for('.agile', sortedby='priority') }}">Priority</a></th>
            <th><a href="{{ url_for('.agile', sortedby='timeSlot') }}">Time Slot</a></th>
        </tr>
    {% endcall %}
{% endblock %}
