<!DOCTYPE html>
<html lang='en'>
<meta charset="UTF-8"/>
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon" />

<head>
    <title>FIWARE - Help Desk and Backlog Management - Login </title>
    <style type="text/css">
        body {margin: 0cm; padding: 1cm; background-color: darkseagreen;}
        h1 { color: red; margin: 0.5cm; padding: 5px; }
    </style>
</head>

<body>
    <header align="center" with=100% >
        <img src="{{ url_for('static', filename='fiware_banner.jpg') }}" align="center"/>
    </header>

    <div class = "content" align="center" with=100% >
    <h1>FIWARE - Help Desk and Backlog Management</h1>
    {% if error %}
    <p class=error> <strong>Error:</strong> {{ error }} </p>
    {% endif %}

    <form method="POST" action="{{ url }}" align="center">
        {{ form.hidden_tag() }}
        <br>
        <table align=center border=0>
        <tr>
            <td>{{ form.username.label }} {{ form.username(size=20) }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label }} {{ form.password(size=20) }}</td>
        </tr>
        <tr>
            <td align="right"> <input type="submit" value="Login" style="width: 80px; height: 40px;" autofocus> </td>
        </tr>
        </table>
    </form>
    <br>
    </div>

    <footer id="site_footer">
        <hr style="margin-bottom:0;">
        <nav>
            <ul>
                <li>
                    <small>
                    <a href="http://www.tid.es" target=_blank class="active">© Telefónica Investigación y Desarrollo SAU</a></li>
                    </small>
                <li>
                    <small>
                    Scrum Master: <a href="mailto:veronika.vlnkova@fiware.org" class="active">Veronika Vlnkova</a>
                    </small>
                </li>
                <li>
                    <small>
                    Technical Leader: <a href="mailto:fernando.lopez@fiware.org" class="active">Fernando López Aguilar</a>
                    </small>
                </li>
                <li>
                    <small>
                        Latest version: 1.3.0
                    </small>
                </li>
            </ul>
            <small>
                2016-2018 © The use of <a href="/">FIWARE backlog</a> website is subject to the acceptance of the <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_Privacy_Policy" target="a_blank">Personal Data Protection Policy</a> and <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Cookies_Policy_FIWARE" target="a_blank">Cookies Policy</a>.
            </small>
        </nav>
    </footer>
</body>
</html>
